importFrom("stats", "aggregate", "approx", "dbinom", "p.adjust",
             "pchisq", "pexp", "pnorm", "qnorm", "rbeta", "rnorm",
             "runif", "sd")
importFrom("utils", "write.table")
exportPattern("^[[:alpha:]]+")

